/* profile page styles */
.profile-header{
  display: flex;
  padding: 5vh;
  padding-top: 3vh;
}
@media screen and (max-width: 415px) {
  .profile-header {
    padding: 2vh;
  }
}

.profile-header > form {
  width: 36vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
}

.public-profile {
  flex-direction: column;
}
.public-profile-top {
  background-color: #C790F1;
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile h1 {
  text-align: center;
  /* margin-left: 15vw; */
  margin-top: 16vh;
}
.public-profile h1, {
  text-align: center;
  margin-top: 10vh;
  margin-left: 0;
}
#profile-heading {
  margin-left: 15vw;
}

/* --------heading for most phone screens ----- */
@media screen and (max-width: 415px) {
  .public-profile h1 {
    margin-top: 5vh;
  }
  .profile h1 {
    margin-top: 7vh;
    margin-left: 0;
  }
  #profile-heading {
    margin-left: 0;
  }
}
/* -------- iPhone 5 and equivalent phone screens ---- */
@media screen and (max-width: 320px) {
  .profile h1 {
    margin-top: 12vh;
    margin-bottom: 1vh;
  }
  #profile-heading {
    margin-top: 14vh;
  }
}

/* ------- iPad ------------ */
@media screen and (max-width: 768px) {
  .profile h1 {
    margin-top: 8vh;
  }
}
.public-profile p, .public-profile h3 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media screen and (max-width: 415px) {
  .public-profile h3, .public-profile p {
    width: 90%;
  }
}

.user-scoreboard-public {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
@media screen and (max-width: 415px) {
  .user-scoreboard-public {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

/* .profile-photo {
  max-width: 36vw;
  max-height: 40vh;
  min-width: 270px;
} */

.public-photo, .profile-photo {
  border-radius: 50%;
  max-width: 20vw;
  max-height: 28vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  border: 5px solid white;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.56);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.56);
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.56);
}
@media screen and (max-width: 415px) {
  .public-photo, .profile-photo {
    max-height: 25vh;
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.profile-info {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.profile-info p {
  margin: 1vh;
}
@media screen and (max-width: 415px) {
  .profile-info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .profile-info p {
    margin: 0.5vh;
  }
}

.profile {
  margin-top: 10vh;
  margin-bottom: 25vh;
  width: 85vw;
  height: auto;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5vh;
  text-align: center;
}
@media screen and (max-width: 415px) {
  .profile {
    height: auto;
    margin-bottom: 10vh;
  }
}
.profile-button-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: end;
  padding-top: 2vh;
}
@media screen and (max-width: 415px) {
  .profile-button-holder {
    flex-direction: row;
    /* margin-left: 0; */
  }
}

.edit-profile {
  width: 60%;
}

@media screen and (max-width: 415px) {
  .edit-profile {
    width: 80%;
    padding-right: 8vw;
    padding-left: 8vw;
  }
}

.edit-holder {
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
}

@media screen and (max-width: 415px) {
  .edit-holder {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 416px) {
  .upload-holder {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 415px) {
  .upload-holder {
    height: 40vh;
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
  }

  .upload-holder > button {
    width: 90%;
    margin-left: auto;
    margin-right: auto !important;
    margin-top: 3vh !important;
  }
}

.upload-button {
  /* margin-top: auto !important; */
  margin-bottom: auto !important;
  height: 6vh;
  padding: 1vw !important;
  width: 20vw;
  margin-top: 3vh !important;
  /* margin-right: 10vw !important; */
}

.upload-button > span {
  margin-left: 4vw;
}
@media screen and (max-width: 415px) {
  .upload-button {
    margin-top: 1vh !important;
    margin-bottom: 0;
    margin-right: 0 !important;
  }
}

.back-button {
  align-self: flex-start;
  margin-top: 1vh !important;
  /* margin-right: 3vw !important; */
}

.edit-profile {
  align-self: flex-end;
}

@media screen and (max-width: 415px) {
  .comment-heading {
    margin-left: 6vw;
  }
}

.notification-settings {
  width: 80%;
  margin-left: 5vw;
  margin-right: auto;
  margin-top: 3vh;
}

.notification-settings > button {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.notification-settings label {
  text-align: left;
}

@media screen and (max-width: 415px) {
  .notification-settings {
    width: 90%;
  }
  .notification-settings label {
    margin-bottom: 2vh;
    text-align: left;
  }
}

/* ------ sharing button styles --------------- */

.socials {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
@media screen and (max-width: 415px) {
  .socials {
    justify-content: center;
    margin-bottom: 2vh;
  }
}

@media screen and (max-width: 320px) {
  .socials {
    margin-bottom: 4vh;
  }
}

/*  ---------- drawer styles ----------- */
.drawer > div {
  z-index: 2 !important;
  top: 8vh;
  max-width: 250px;
}

.drawer-open > div {
  width: 250px;
  transition: width 300ms ease;
}

.drawer-closed > div{
  overflow-x: hidden;
  width: 56px;
  transition: 300ms ease;
}

/* -------- settings page styles ---------------- */

.settings-page {
  width: 85vw;
  margin-left: 66px;
}



@media screen and (max-width: 415px) {
  .settings-page {
    margin-left: 66px;
    width: 81vw;
  }
}

@media screen and (max-width: 320px) {
  .settings-page {
    width: 77vw;
  }
}

@media screen and (min-width: 769px) {
  .settings-page {
    width: 65vw;
    margin-left: 32vw;
  }
}

@media screen and (min-width: 1000px) {
  .settings-page {
    width: 74vw;
    margin-left: 25vw;
  }
}

@media screen and (min-width: 1120px) {
  .settings-page {
    margin-left: 23vw;
    /* width: 76vw; */
  }
}

@media screen and (min-width: 1200px) {
  .settings-page {
    margin-left: 21vw;
  }
}

#settings-heading {
  margin-top: 6vh;
  margin-bottom: 1vh;
}

.settings-subheading {
  text-align: left;
  margin-left: 5vw;
  margin-bottom: 0;
}

#delete-account-button {
  margin-top: 5vh;
  float: left;
  margin-left: 5vw;
}

.fbAuthBox {
  border: 2px solid #a54ee8;
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  padding-bottom: 1vh;
}

@media screen and (max-width: 415px) {
  .fbAuthBox {
    width: 90%;
    margin-top: 2vh;
  }
}

/* -------------- stats page styles ------------------- */

#cashOut {
  line-height: 1.3;
  width: 58vw;
  display: block;
  font-size: 1.5em;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
  font-family: 'Quicksand', sans-serif;
  padding-top: 2vh;
  font-weight: bolder;
  padding-bottom: 2vh;
}

.cashout-modal {
  top: 25% !important;
  left: 20% !important;
  width: 40%;
  background-color: 'white';
  outline: none;
  padding: 10vh;
  text-align: center;
}

.cashout-modal h3 {
  padding-top: 6vh;
  display: block;
  font-size: 36px;
  padding-bottom: 2vh;
}

.cashout-modal p {
  padding: 3vh;
  padding-top: 1vh;
}

#cashout-instructions {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #a54ee8;
  margin-top: 3vh;
  margin-bottom: -2vh;
}

@media screen and (max-width: 415px) {
  .cashout-modal {
    width: 80%;
    left: -8% !important;
    top: 20% !important;
  }
  .cashout-modal p {
    line-height: 1.4;
  }
}