.leaderboard {
  width: 93vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 18vh;
  margin-bottom: 10vh;
  text-align: center;
  padding-top: 3vh;
  overflow: scroll;
  height: auto;
  min-height: 60vh;
}
@media screen and (max-width: 415px) {
  .leaderboard {
    /* height: 60vh; */
    /* max-height: unset; */
    margin-bottom: 2vh;
    margin-top: 22vh;
  }
}

.leaderboard-header {
  display: flex;
}

@media screen and (max-width: 415px) {
  .leaderboard-tabs {
    width: 100vw;
    margin-top: 2vh;
  }
}

@media screen and (max-width: 415px) {
  .leaderboard-mobile-loading {
    width: 73vw !important;
  }
}
.scoreboard {
  display: flex;
  text-align: center;
  width: 43vw;
  height: 10vh;
}
@media screen and (max-width: 416px) {
  .scoreboard {
    width: 97vw;
  }
}
.small-scoreboard {
  display: flex;
  text-align: center;
  height: 14vh;
  width: 40.5vw;
}

#demScore {
  width: 32.6%;
  border: 2px solid white;
  border-left: 0;
  border-top: 4px solid white;
  background-color: blue;
  color: white;
  box-sizing: border-box;
  font-size: 2.5vh;
}

#repScore {
  width: 32.7%;
  border: 2px solid white;
  border-top: 4px solid white;
  background-color: red;
  color: white;
  box-sizing: border-box;
  font-size: 2.5vh;
}

#indScore {
  width: 32.7%;
  border: 2px solid white;
  border-right: 0;
  border-top: 4px solid white;
  background-color: green;
  color: white;
  box-sizing: border-box;
  font-size: 2.5vh;
}

.score {
  font-size: 5vh;
  font-weight: bold;
}



@media screen and (max-width: 416px) {
  .score {
    font-size: 24px;
  }
}

.scoreboardHolder {
  background-color: #C790F1;
  border: 4px solid white;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  text-align: center;
  color: white;
  padding-bottom: 0;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  width: 43vw;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 416px) {
  .scoreboardHolder {
    width: 97vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.scoreboardHolder > h2 {
  letter-spacing: 3px;
}

.small-scoreboardHolder {
  background-color:  #3E1D57;
  border: 4px solid white;
  border-bottom: 4px solid white;
  box-sizing: border-box;
  text-align: center;
  color: white;
  padding-bottom: 0;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  width: 41.2vw;
  height: 37.5vh;
}

.small-scoreboardHolder h2 {
  font-size: 2em;
  margin: 2vh auto 2vh auto;
}

.userScore {
  width: 48.5%;
  border: 2px solid white;
  border-right: 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  background-color: #8E6DA7;
  color: white;
  box-sizing: border-box;
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
  height: 12vh;
}

.politIQ {
  width: 100%;
  border-bottom: none;
  border-left: none;
  background-color: #C790F1;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 14vh;
}

#submittedQScore {
  font-size: 14px;
}

.reg-score {
  margin-top: 1.6vh;
}


@media screen and (max-width: 980px) {
  .score {
    font-size: 3vh;
  }
  .userScore {
    font-size: 2vh;
  }
  .small-scoreboardHolder{
    height: 36.5vh;
    width: 60vw;
  }
  .small-scoreboard {
    width: 58.8vw;
  }
  
}

@media screen and (max-width: 800px) {
  .profile-button-holder {
    width: 60vw;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 415px) {
  .small-scoreboardHolder {
    width: 80vw;
    height: 36.5vh;
  }
  .small-scoreboard {
    width: 78vw;
  }
  #submittedQScore {
    font-size: 12px;
    height: 13vh;
  }
  .userScore {
    height: 14px;
    height: 13vh;
  }
  .reg-score {
    margin-top: 4.2vh;
  }
  .politIQ-score {
    margin-top: auto;
    margin-bottom: auto;
  }


}



.barChart {
  /* padding-left: 50%; */
  margin-left: 2vw;
}

.highScoreHolder {
  background: linear-gradient(to top, rgba(239,188,77,1) 0%, rgba(239,188,77,1) 24%, rgba(244,207,126,1) 50%, rgba(255,244,219,1) 100%);
  border: 5px solid rgba(45, 45, 45, 0.80);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.highScoreHolder h1 {
  color: rgba(45, 45, 45, 0.80);
  margin-bottom: 0;
}

/* ----------------- high score box styles ------------------ */

.highScore {
  background-color: blue;
  padding-bottom: 4vh;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

@media screen and (max-width: 415px) {
  .highScore {
    width: 90%;
  }
}

/* ------------------- appbar styles -------------------- */
.leaderboard-banner-text {
  font-weight: bold;
  color: rgba(45, 45, 45, 0.80);
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
}

@media screen and (max-width: 415px) {
  .leaderboard-banner-text {
    font-size: 18px;
    margin-top: 2vh;
  }
}