<activity
    android:name="com.pushwoosh.DeepLinkActivity"
    android:theme="@android:style/Theme.Translucent.NoTitleBar" 
>
    <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="pw-957F6-E387B" />
  </intent-filter>
</activity>