.App {
  text-align: center;
}

.App-logo {
  height: auto;
  min-width: 80px;
  width: 10vw;
  max-width: 100px;
  margin-right: 2vw;
  border-bottom: 1px solid black;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

.App-header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: white;
}

.App-link {
  color: #61dafb;
}
