body {
  background-color: lightgray;
}

.App {
  text-align: center;
}

.App-logo {
  height: auto;
  min-width: 80px;
  width: 10vw;
  max-width: 100px;
  margin-right: 2vw;
  border-bottom: 1px solid black;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

.App-header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 23vh;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  width: 35%;
  margin-left: 8vw;
}

.sharing {
  margin-right: 8vw;
}

.links {
  margin-right: 15vw;
}

h3 {
  color: #a54ee8;
}

.description > p {
  color: white;
  font-size: 12px;
}

.description > a {
  color: #BB7AEE;
  text-decoration: none;
}

.description > a:hover {
  color: #DDBDF6;
}
