body {
  background-color: lightgray;
}

.App {
  text-align: center;
}

.App-logo {
  height: auto;
  min-width: 80px;
  width: 10vw;
  max-width: 100px;
  margin-right: 2vw;
  border-bottom: 1px solid black;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

.App-header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  bottom: 0;
  height: 20vh;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  width: 54%;
  margin-left: 4vw;
  margin-right: 4vw;
}
.description > h3, .links > h3, .sharing > h3 {
  font-size: 16px;
}

.sharing {
  margin-right: 8vw;
}

.links {
  margin-right: 3vw;
}
.links > a {
  font-size: 14px;
}
.links > a:hover {
  color: #a54ee8;
}

h3 {
  color: #a54ee8;
  margin-bottom: 1vh;
}

.description > p {
  color: white;
  font-size: 13px;
  margin-bottom: 1vh;
  margin-top: 0;
}

.description > a {
  color: #BB7AEE;
  text-decoration: none;
}

.description > a:hover {
  color: #DDBDF6;
}

.bottom-nav {
  display: none;
}

@media (max-width: 680px) {
  .description, .sharing, .links {
    display: none;
  }
  .footer {
    height: 5vh;
    position: fixed;
  }
  .bottom-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .bottom-nav > a {
    color: white;
    text-decoration: none;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-left: 1px solid #BB7AEE;
  }
  .bottom-nav > a:hover {
    text-decoration: underline;
  }
  #play {
    border-left: none;
  }
}

@media (max-width: 980px) {
  h3 {
    margin-bottom: 0;
    margin-top: 1vh;
  }
  .description > p {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    font-size: 11.5px;
    width: 42vw;
  }
  .description > a {
    margin-top: 0;
    font-size: 12px;
  }
}

@media (min-width: 1000px) {
  .footer {
    height: 17vh;
    min-height: 140px;
  }
}
