.authCard {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
  margin-top: 15vh;
  height: auto;
}

.signIn {
  margin-bottom: 21.5vh;
}

.signUp {
  margin-top: 12vh;
  margin-bottom: 6vh;
}
/* .authButton {
  margin-top: 3vh;
} */
