
.home-button {
  /* background-color: black; */
  margin-top: 5vh !important;
  width: 30vw;
}

#bg-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#rep {
  color: red;
  font-weight: bold;
  font-size: 24px;
  z-index: 100;
}

#dem {
  color: blue;
  font-weight: bold;
  font-size: 24px;
  z-index: 100;
}

#ind {
  color: green;
  font-weight: bold;
  font-size: 24px;
  z-index: 100;
}

#iq {
  color: white;
}

#main {
  color: #a54ee8;
  filter: drop-shadow(0 0 10px purple);
  font-size: 3.5em;
  letter-spacing: 6px;
  margin-top: 1vh;
  margin-bottom: 5vh;
  line-height: 80%;
  font-family: 'Baloo Bhaina', cursive;
}

.home-holder {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 59vh;
}

#today {
  width: 50vw;
  font-size: 2.5em;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: "Baloo Bhaina", cursive;
  line-height: 80%;
  padding-top: 3vh;
}

#archive-link {
  display: block;
  width: 25vw;
  font-size: 1.5em;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
  font-family: "Baloo Bhaina", cursive;
  line-height: 80%;
  padding-top: 2.5vh;
}

h4 {
  margin-top: 10vh;
}
