.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.Axis text {
  font-size: 14px;
  fill: rgba(45, 45, 45, 0.80);
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}

.chartHolder {
  display: 'flex';
  flex-direction: column;
  width: 60%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 415px) {
  .chartHolder{
      width: 90%;
  }
}

/* #chart {
  background-color: #F5F2EB;
  border: 1px solid #CCC;
} */

.bar {
  shape-rendering: crispEdges;
}

.bar-label {
  fill: #000;
  text-anchor: middle;
  font-size: 18px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}