.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.Axis text {
  font-size: 14px;
  fill: rgba(45, 45, 45, 0.80);
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}

.chartHolder {
  flex-direction: column;
  width: 46%;
  min-width: 250px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: block;
  margin-top: 5vh;
}

.chartHolder img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 18vh;
  margin-bottom: 19vh;
}

.bar {
  shape-rendering: crispEdges;
}

.bar-label {
  fill: white;
  text-anchor: middle;
  font-size: 18px;
}

.tick {
  font-size: 20px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis {
  font-family: 'Quicksand', sans-serif;
}