button.customButton {
  color: white;
  font-weight: bold;
  background-color: rgb(142, 109, 167);
  border: none;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  height: auto;
}
button.customButton {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.customButton:hover {
  background-color: rgba(199, 144, 241);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.deleteButton {
  text-align: center;
  margin: 30px;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  width: 300px;
  text-decoration: none;
}
.deleteButton:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
.deleteButton:active {
  position: relative;
}

.displayNameBox {
  display: block;
  height: 100%;
  vertical-align: middle;
}

@media only screen and (max-width: 800px) {
  button.customButton {
   font-size: 15px;
   height: 50%;
  }
}