.quizEngine {
  /* width: 98%; */
  height: 63vh;
  overflow: scroll;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.quizEngine > h1 {
  text-align: center;
}

.questionDiv {
  margin-top: 5vh;
}

.quizEngine > h3 {
  margin-top: 5vh;
}

.quizEngine > h2 {
  margin-top: 0;
}

.quizButtonHolder {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}
