.archive-header {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  .archive-header {
    display: none;
  }
}

.archive-header > h1 {
  margin-left: 3vw;
}

.archive-warning {
  color: red;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.archive-holder {
  padding: 5vh 3vw 15vh 3vw;
  justify-content: flex-start;
  margin-top: 10vh;
  height: auto !important;
}
@media screen and (min-width: 480px) {
  .archive-holder {
    height: 46vh;
  }
}

.archive-table {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}
.tableItem:hover {
  background-color: #C790F1;
  cursor: pointer;
}
.mobile-back {
  display: none;
}
@media screen and (max-width: 480px) {
  .mobile-back {
    display: inline;
    float: left;
    margin-left: 2vh;
  }
  .mobile-archive-header h1 {
    margin-left: -10vh;
  }
}

.quiz-body {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 85vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11vh;
  margin-bottom: 20vh;
}
.progressBar-mobile {
  display: none;
}
@media screen and (max-width: 415px) {
  .quiz-body {
    height: auto;
    padding-top: 2vh;
  }
  .quiz-body h3 {
    font-size: 17px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .quiz-body h5 {
    font-size: 10px;
    min-width: fit-content;
  }
  .finish-quiz {
    margin-top: 2vh;
  }
  .quiz-body h1 {
    font-size: 20px;
    margin-bottom: 5vh;
    width: 78%;
  }
  .progressBar-full {
    display: none;
  }
  .progressBar-mobile {
    display: block;
  }
}

.question {
  width: 90%;
  height: 100%;
}

.question > h1 {
  font-size: 1.5em;
}

@media screen and (max-width: 415px) {
  .question > h1 {
    font-size: 1.2em;
    margin-bottom: 5vh;
  }
}

.answer {
  padding-left: 1vw;
}

.answer:hover {
  cursor: pointer;
}

@media screen and (max-width: 415px) {
  .answer {
    padding-left: 3vw;
    width: 100%;
  }
}


.quiz-loading-gif {
  height: 80%;
  padding: 3vw;
  width: 40vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 415px) {
  .quiz-header {
    margin-bottom: 2vh;
  }
}

.taken {
  background-color: lightgray;
}

.showClock {
  display: flex;
  justify-content: left;
  margin-bottom: 2vh;
  margin-left: 2vw;
}

.dontShowClock {
  display: none;
}